#banner {
    background-color:rgba(29, 20, 20, 0.582) ;
    height: 77px;
    padding: 26px 70px 26px 70px;
}
body {
    background-color: #060606;
    background-image: url(../img/background-pizza.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
}
#banner h1 {
    float: left;
    margin: 0;
}
#banner nav {
    float: right;
    position: relative;
    top: 31px;
}
#banner ul {
    margin: 0;
}
#banner nav ul li {
    display: inline-block;
    width: 100px;
}
#banner nav ul li a {
    color: rgb(213, 230, 64);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
#sabores-pizzas h2 {
    color: honeydew;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    line-height: 6;
    text-shadow: 2px -2px 10px #060606;
}
#sabores-pizzas table {
    background-color:#2a2a2a;
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}
#sabores-pizzas table td,
#sabores-pizzas table th {
    border: 01px black solid;
    color: antiquewhite;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 25px;
}
#sabores-pizzas .texto-negativo {
    color: darkred;
}
#sabores-pizzas .texto-positivo {
    color: rgb(96, 185, 6);
}
#copyright a {
    text-align: center;
    display: block;
    padding: 35px 0 10px 0;
}
#copyright p {
    color: antiquewhite;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
#sabores-pizzas {
    padding-bottom: 60px;
    margin-top: 380px;
}
#copyright {
    background-color: #060606;
}